html,
body {
  scroll-behavior: smooth;
  height: 100%;
  position: relative;
  min-width: 90%;
  max-width: 100%;
  background-color: rgb(8, 9, 9);
  color: white;
}

html {
  display: table;
  margin: 0;
}

body {
  display: table-cell;
  vertical-align: top;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  margin: 500px 0 50px;
}

.scroll {
  padding: 0 0 200vh;
}
