
.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: rgb(0, 0, 0);
    color: rgb(253, 253, 253);
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.brand-name {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    margin-left: 1rem;
}

.navigation-menu {
    margin-left: auto;
}

.navigation-menu ul {
    display: flex;
    padding: 0;
}

.navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
}

.navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    color:rgb(253, 253, 253);
}

.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    background-color: #4f525e;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.hamburger:hover {
    background-color: #34349d;
}

.navbar-logo {
    font-family: "Century Gothic", sans-serif;
    font-size: 30px;
    color: white;
    transform: rotate(130deg);
  }
  
  .navbar-logo:hover {
    font-size: 0;
    transform: rotate(0deg);
  }
  
  .navbar-logo:hover::after {
    content: attr(data-hover);
    color: white;
    font-size: medium;
    transition: all 0.9s ease-in-out;
  }
  

@media screen and (max-width: 768px) {

    .hamburger {
        display: block;
    }
    .navigation-menu ul {
        position: absolute;
        top: 60px;
        left: 0;

        flex-direction: column;

        width: 100%;
        height: calc(100vh - 77px);
        background-color: rgb(74, 73, 73);
        border-top: 1px solid black;

        display: none;
    }

    .navigation-menu li {
        text-align: center;
        margin: 0;
    }

    .navigation-menu li a {
        color: rgb(255, 255, 255);
        width: 100%;
        padding: 1.5rem 0;
    }

    .navigation-menu li:hover {
        background-color: rgb(0, 0, 0);
    }

    .navigation-menu.expanded ul {
        display: inline-block;
    }
}
