@import url("https://fonts.googleapis.com/css2?family=Century+Gothic&display=swap");

.navbar {
}

.navbar-container {
}

.navbar__wrapper {
  display: flex;

  justify-content: space-between;
  flex: 1;
  margin: 10px 20px 10px 20px;
  padding: 0;
  align-items: center;
}

.navbar__nav {
  display: flex;

  justify-content: space-between;

  padding: 0;
  min-width: 200px;
}

.navbar-menu {
  font-family: "Century Gothic", sans-serif;
  color: white;
}

.navbar-logo {
  font-family: "Century Gothic", sans-serif;
  font-size: 30px;
  color: white;
  transform: rotate(130deg);
}

.navbar-logo:hover {
  font-size: 0;
  transform: rotate(0deg);
}

.navbar-logo:hover::after {
  content: attr(data-hover);
  color: white;
  font-size: medium;
  transition: all 0.9s ease-in-out;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #c1ffe5;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-links:hover,
.navbar-menu:hover {
  color: #636d33;
  transform: translate3d(0px, 0%, 0px);
  transition: all 0.4s ease-in-out;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

/* 
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
} */
