/* .project-container {
  display: flex;
  border: solid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 500px;
} */

.project-container {
  /* border: solid; */
  display: grid;
  height: 200vw;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 10px;
  background-color: rgb(13, 12, 12);
  color: rgb(251, 251, 251);
}

.project {
  background-color: rgb(82, 82, 82);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  grid-template-rows: 3fr 1fr;
}

.a {
  display: grid;
  border: solid;

}

.b {
  display: grid;
  border: solid;
}

.c {
  display: grid;
  border: solid;
}